<label style="display: block; margin-top: 20px;">Name: <label style="color: red"><%= @products.name %></label></label>

<label style="display: block; margin-top: 20px;">Description: <label style="color: red"><%= @products.description %></label></label>

<label style="display: block; margin-top: 20px;">Price: <label style="color: red"><%= @products.pricing %></label></label>

<div style="margin-top: 20px;">
<a href="/products/:id/edit">Edit</a> | <a href="/products">Back</a>
</div>